<a href="https://colab.research.google.com/github/gauransh415/ALL-SEM-VI-NOTES/blob/main/ie-2(rough%20codes).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as lund


a=[2,4,7]
print(lund.Series(a, index=["x","y","z"]))

x    2
y    4
z    7
dtype: int64

In [1]:
import pandas as pd
s1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
s2 = pd.Series([5, 15, 25], index=['b', 'c', 'd'])

result = s1 + s2
print(result)

a     NaN
b    25.0
c    45.0
d     NaN
dtype: float64

In [2]:
df = pd.DataFrame({'A': [3, 1, 2]}, index=['b', 'c', 'a'])
sorted_df = df.sort_index()
print(sorted_df)

   A
a  2
b  3
c  1

In [7]:
df = pd.DataFrame({'A': [3, 1, 2]}, index=['b', 'c', 'a'])
sorted_df = df.sort_values(by='A', ascending=1)
print(sorted_df)

   A
c  1
a  2
b  3

In [ ]:

arrays = ['Alice', 'Bob', 'Charlie', 'David']
age = [25, 30, 35, 40]
marks = [90, 85, 78, 88]

multi_index = pd.MultiIndex.from_arrays([arrays, age, marks], names=('Name', 'Age', 'Marks'))
print(multi_index)

In [11]:
import requests

URL = "https://www.geeksforgeeks.org/data-structures/"
response = requests.get(URL)
print(response.headers)

{'Content-Type': 'text/html; charset=UTF-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Date': 'Sun, 16 Mar 2025 14:38:16 GMT', 'Server': 'Apache', 'Strict-Transport-Security': 'max-age=31536000; includeSubDomains', 'Cache-Control': 'max-age=3, must-revalidate', 'Content-Encoding': 'gzip', 'Access-Control-Allow-Credentials': 'true', 'X-Frame-Options': 'DENY', 'X-Content-Type-Options': 'nosniff', 'Vary': 'Accept-Encoding,Cookie', 'X-Cache': 'Hit from cloudfront', 'Via': '1.1 a6f8e4a6d80386054febd47005eabaca.cloudfront.net (CloudFront)', 'X-Amz-Cf-Pop': 'AMS58-P1', 'X-Amz-Cf-Id': 'wt2sZ0GsK3X6xFzwlJRijNu_5CkyKacm8aflw9ngPZBfATHldgKhZw==', 'Age': '24196'}

In [13]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(response.content, 'html5lib')
# print(soup.prettify())
print(soup.title.text)
print(soup.p.text)

Data Structures Tutorial - GeeksforGeeks
Data structures are the fundamental building blocks of computer programming. They define how data is organized, stored, and manipulated within a program. Understanding data structures is very important for developing efficient and effective algorithms.

In [14]:
left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]],
                      index=['a', 'c', 'e'],
                      columns=['Ohio', 'Nevada'])
right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]],
                       index=['b', 'c', 'd', 'e'],
                       columns=['Missouri', 'Alabama'])

# Outer merge using index
merged_df = pd.merge(left2, right2, how='outer', left_index=True, right_index=True)
print(merged_df)

   Ohio  Nevada  Missouri  Alabama
a   1.0     2.0       NaN      NaN
b   NaN     NaN       7.0      8.0
c   3.0     4.0       9.0     10.0
d   NaN     NaN      11.0     12.0
e   5.0     6.0      13.0     14.0

In [15]:
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])
concat_df = pd.concat([s1, s2, s3], axis=1)
print(concat_df)

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [16]:
result = pd.concat([s1, s1, s3], keys=['one', 'two', 'three'])
print(result.unstack())

         a    b    f    g
one    0.0  1.0  NaN  NaN
two    0.0  1.0  NaN  NaN
three  NaN  NaN  5.0  6.0

In [18]:
d={"calories": [400,200,300], "duration":[50,40,30]}
df=pd.DataFrame(d,index=["day1","day2","day3"])
df

      calories  duration
day1       400        50
day2       200        40
day3       300        30

In [20]:
df.loc["day2"]

calories    200
duration     40
Name: day2, dtype: int64

In [21]:
data = pd.DataFrame({'Brand': ['Maruti', 'Hyundai', 'Tata','Mahindra', 'Maruti', 'Hyundai', 'Renault',
'Tata', 'Maruti'],  'Year': [2012, 2014, 2011, 2015, 2012, 2016, 2014, 2018, 2019],
'Kms Driven': [50000, 30000, 60000, 25000, 10000, 46000, 31000, 15000, 12000],
'City': ['Gurgaon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Chennai', 'Ghaziabad'],
'Mileage': [28, 27, 25, 26, 28, 29, 24, 21, 24]})

In [23]:
print(data.loc[(data.Brand=="Maruti")&(data.Year==2012)&(data.Mileage>25)])

    Brand  Year  Kms Driven     City  Mileage
0  Maruti  2012       50000  Gurgaon       28
4  Maruti  2012       10000   Mumbai       28

In [25]:
single_col=data['Brand']
single_col

0      Maruti
1     Hyundai
2        Tata
3    Mahindra
4      Maruti
5     Hyundai
6     Renault
7        Tata
8      Maruti
Name: Brand, dtype: object

In [27]:
data = {'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12], 'D': [13, 14, 15, 16]}
df = pd.DataFrame(data)
first = df.ix['A']
first

AttributeError: 'DataFrame' object has no attribute 'ix'

In [32]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]}, index=['x', 'y'])
df2 = pd.DataFrame({'B': [5, 6], 'C': [7, 8]}, index=['y', 'z'])
df1+df2

    A    B   C
x NaN  NaN NaN
y NaN  9.0 NaN
z NaN  NaN NaN

In [33]:
left_aligned_df = df.style.set_properties(**{'text-align': 'left'})

In [34]:
left_aligned_df

In [41]:
import pandas as pd
movies = {'Name': ['The Godfather', 'Bird Box', 'Fight Club'],
    'Year': ['1972', '2018', '1999'],
    'Rating': ['9.2', '6.8', 'NaN']}
df = pd.DataFrame(movies, index=[1,2,3])
print(df)

            Name  Year Rating
1  The Godfather  1972    9.2
2       Bird Box  2018    6.8
3     Fight Club  1999    NaN

In [49]:
df['Rating_Rank'] = df['Rating'].rank(na_option='top')
df = df.set_index('Rating_Rank')
print(df)

                      Name  Year Rating
Rating_Rank
2.0          The Godfather  1972    9.2
1.0               Bird Box  2018    6.8
3.0             Fight Club  1999    NaN

In [52]:
arrays = ['Sohom', 'Suresh', 'Kumkum', 'Subrata']  # Names
age = [10, 11, 12, 13]  # Ages
marks = [90, 92, 23, 64]  # Marks

multi_index = pd.MultiIndex.from_arrays([arrays, age, marks], names=('Name', 'Age', 'Marks'))
print(multi_index)

MultiIndex([(  'Sohom', 10, 90),
            ( 'Suresh', 11, 92),
            ( 'Kumkum', 12, 23),
            ('Subrata', 13, 64)],
           names=['Name', 'Age', 'Marks'])

In [53]:
payload={'key1':'params'}
r=requests.get("https://www.abc.com/tags/ref_httpmethods.asp",params=payload)
print(r.url)

https://abc.com/tags/ref_httpmethods.asp?key1=params

In [56]:
import bs4
import urllib.request
sr=urllib.request.urlopen('https://www.mongodb.com/').read()
soup=bs4.BeautifulSoup(sr,'lxml')
print(soup.find_all('p'))

[<p automation-testid="flora-TypographyScale" class="text-center uppercase md:text-left css-1h99zq"><style data-emotion="css 17iqwpm">.css-17iqwpm{background-color:transparent;color:#00684A;}</style><mark automation-testid="flora-Mark" class="border-inc00 border-l-inc20 border-solid border-green40 pl-inc20 font-medium !text-eyebrowDefault css-17iqwpm">MONGODB ATLAS</mark></p>, <p>You don't need a separate database to support transactions, rich search, or gen AI. The world's most popular document database is now the world's most versatile developer data platform.</p>, <p>The document data model maps to how you think and code. Break out of rigid, tabular data structures with flexible documents that map directly to objects in your code. Embed related data into a single document to increase performance and minimize computational cost.</p>, <p class="css-14gyan2">About</p>, <p class="css-14gyan2">Support</p>, <p class="css-14gyan2">Deployment Options</p>, <p class="css-14gyan2">Data Basics</p>]