In [12]:
import pandas as pd

In [ ]:
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
data = {
    'Name': ['Jai', 'Princi', 'Gaurav',
    'Anuj', 'Ravi', 'Natasha', 'Riya'],
    'Age': [17, 17, 18, 17, 18, 17, 17],
    'Gender': ['M', 'F', 'M', 'M', 'M', 'F', 'F'],
    'Marks': [90, 76, 'NaN', 74, 65, 'NaN', 71]
}
df = pd.DataFrame(data)
df

      Name  Age Gender Marks
0      Jai   17      M    90
1   Princi   17      F    76
2   Gaurav   18      M   NaN
3     Anuj   17      M    74
4     Ravi   18      M    65
5  Natasha   17      F   NaN
6     Riya   17      F    71

In [11]:
c = avg = 0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c += 1
        avg += ele
        avg /= c

df['Marks'].replace(to_replace="NaN", value=avg, inplace=True)
df

/var/folders/tz/fcz5qv2x7h575bdrwp7kw73h0000gn/T/ipykernel_24888/736313827.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Marks'].replace(to_replace="NaN", value=avg, inplace=True)
/var/folders/tz/fcz5qv2x7h575bdrwp7kw73h0000gn/T/ipykernel_24888/736313827.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Marks'].replace(to_replace="NaN", value=avg, inplace=True)

      Name  Age Gender      Marks
0      Jai   17      M  90.000000
1   Princi   17      F  76.000000
2   Gaurav   18      M  20.066667
3     Anuj   17      M  74.000000
4     Ravi   18      M  65.000000
5  Natasha   17      F  20.066667
6     Riya   17      F  71.000000

In [5]:
df['Gender'] = df['Gender'].map({'M': 0, 'F': 1, }).astype(int)
df

      Name  Age  Gender      Marks
0      Jai   17       0  90.000000
1   Princi   17       1  76.000000
2   Gaurav   18       0  20.066667
3     Anuj   17       0  74.000000
4     Ravi   18       0  65.000000
5  Natasha   17       1  20.066667
6     Riya   17       1  71.000000

In [7]:
# Filter top scoring students
df = df[df['Marks'] >= 75].copy()
df.drop('Age', axis=1, inplace=True)
df

TypeError: '>=' not supported between instances of 'str' and 'int'